# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# Authentication
NEXT_PUBLIC_TOKEN_STORAGE_KEY=readyforms_token

# i18n configuration
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_AVAILABLE_LOCALES=en,bn

# Theme configuration
NEXT_PUBLIC_DEFAULT_THEME=system
